@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --main-orange: hsl(25, 97%, 53%);
  --light-grey: hsl(217, 12%, 63%);
  --med-grey: hsl(216, 12%, 54%);
  --med-dark-blue: hsl(213, 24%, 24%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

#main {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  background-color: var(--very-dark-blue);
  min-height: 100vh;
}

.main-card {
  height: 100%;
  width: 100%;
  padding-top: 195px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rating-state-card {
  background-color: var(--dark-blue);
  max-width: 412px;
  max-height: 416px;
  padding: 30px;
  border-radius: 2rem;
}

.rating-star {
  margin-bottom: 30px;
  height: 45px;
  width: 45px;
  background-color: var(--med-dark-blue);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-state-title {
  color: var(--white);
  font-size: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  font-weight: 700;
}

.rating-state-text {
  color: var(--light-grey);
  margin-bottom: 30px;
  line-height: 1.5rem;
}

.rating-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  padding: 0 20px 0 20px;
  flex-wrap: wrap;
}

.rating,
.rating:link {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  background-color: var(--med-dark-blue);
  color: var(--med-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating:hover {
  background-color: var(--main-orange);
  color: var(--white);
  cursor: pointer;
}

.rating:focus {
  background-color: var(--light-grey);
  color: var(--white);
  cursor: pointer;
}

.rating-state-btn {
  background-color: var(--main-orange);
  width: 100%;
  border-radius: 30px;
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-weight: 700;
  padding: 15px 0 15px 0;
}

.rating-state-btn:hover {
  background: var(--white);
  color: var(--main-orange);
  cursor: pointer;
}

/* -------THANK YOU STATE------- */
.thank-you-state-card {
  color: var(--white);
  background-color: var(--dark-blue);
  max-width: 412px;
  max-height: 416px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thank-you-image {
  margin: 50px 0 25px 0;
}

.rating-score {
  background-color: var(--med-dark-blue);
  color: var(--main-orange);
  padding: 8px 20px 8px 20px;
  border-radius: 2rem;
  margin-bottom: 30px;
}

.thank-you-title {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  font-weight: 600;
}

.thank-you-text {
  color: var(--light-grey);
  text-align: center;
  margin: 0 20px 0 20px;
}

/* -------ATTRIBUTION------- */
.attribution {
  color: var(--light-grey);
  margin-top: 50px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
}

.attribution a:link,
.attribution a:visited {
  color: var(--white);
}

.attribution a:hover,
.attribution a:active {
  color: var(--main-orange);
}

.hidden {
  display: none;
}
